@page
@using Microsoft.EntityFrameworkCore.Query.Internal

<div>
    <h1>Tela de cadastro</h1>

    @* Formulário de cadastro de equipes *@
    <form method="POST" asp-action="CadastrarUsuario" asp-controller="Usuario">
        <div class="form-control">
            <label for="nome">Nome</label>
            <input type="text" name="Nome">
        </div>

        <div class="form-control">
            <label for="email">Nome de usuario</label>
            <input type="Email" name="User">
        </div>

        <div class="form-control">
            <label for="email">Email</label>
            <input type="Email" name="email">
        </div>

        <div class="form-control">
            <label for="senha">Senha</label>
            <input type="Password" name="senha">
        </div>



        @foreach (Usuario usuario in ViewBag.ListaUsuario)
        {
            <option value="@usuario.Id">@usuario.Nome</option>
        }
        </select>

        </form>
    </div>

        <button class="btn btn-primary" type="submit">Cadastrar</button>
    

<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Nome</th>
        <th>Email</th>

    </thead>

    @* <tbody> 
        @foreach (Usuario usuario in ViewBag.ListaUsuarios) 
        {
            <tr>
                <td>@Usuario.Id</td>
                <td>@Usuario.Nome</td>
                <td>@Usuario.Email</td>



                <td>
                    <a class="btn btn-primary" href="/Usuario/Atualizar/@usuario.Id">Atualizar</a>
                    @*Passando para a função de excluir a referencia do id do usuario
                    <a class="btn btn-danger" asp-action="ExcluirUsuario" asp-controller="Usuario"
                    asp-route-id="@usuario.Id">Excluir</a>
                </td>
            </tr>
        
    </tbody>@*@
</table>
</div> 